# Ignore binaries
main
*.exe
*.out

# Ignore Go build cache
/pkg
/bin

# Ignore environment files
.env

# Ignore logs and temp files
*.log
/tmp

# Ignore Docker Compose named volumes (optional)
mysql_data/
